@CHARSET "UTF-8";
body{
cursor : default;
font-size : 14px;
line-height : 16px;
font-family : Tahoma, sans-serif;
background:highlight;
background-attachment:fixed;
background-size:100%;
}

.divs{
	padding: 15px;
	position: absolute;
	background-color: menu;
	width: 30%;
	height: auto;
	text-align: justify;
	
}

.divs #titulos{
	padding: 5px;	
	background-color: background;
	color:#ffffff;
	width: auto;
	height: 50px;
	font-family: cursive;
	font-size: 4;
	
}

#titleTop{
	border-radius: 15px;
	width: 600px;
	margin-left: 28%;
	
	}
#oQueEh{
	margin-top: 150px;
	margin-left: 50%;
	
}	
#conteudo{
	margin-top: 150px;
	margin-left: 15%;
}

#convencido{
	margin-top: 400px;
	width: 50%;
	margin-left: 25%;
}

#linkConvenci{
	background-color:buttonface;
	width: 200px;
	padding: 5px;
	border-radius: 15px;
	margin-left: 20%;	 
}
#linkConvenci a{
	text-decoration: none;
	color: red;
}

#fim{
	margin-left: 30%;
	width: 35%;
		
}
#fim a{
	text-decoration: none;
}

